.Header2 {
  color: black;
}

.Header3 {
  color: black;
}

.Header5 {
  color: black;
}

.Paragram {
  color: black;
}

.List {
  color: black;
}

.Button {
  border-radius: 5px;
  background-color: rgb(240, 144, 9);
}

.Input {
  border-radius: 10px;
}

.Foodpic {
    cursor: pointer;
    height: 300px; 
    border-radius: 15px;
    box-shadow: 6px 3px 2px black;
    

  }
  .Foodpic:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;

  }

  .Foodpicid {
    height: 300px;
    border-radius: 15px;
  }
  