  .Foodpic {
    cursor: pointer;
    height: 300px; 
    border-radius: 15px;
    box-shadow: 6px 3px 2px black;
    

  }
  .Foodpic:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;

  }

  .Foodpicid {
    height: 300px;
    border-radius: 15px;
  }
  